<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="PRODUCTION" />
    <add key="EmailTo" value="vabeshi@marketingassociates.com" />
    <add key="EmailCancelTo" value="PHQ@LincolnBC.com" />
    <add key="GoogleTrackingCode" value="UA-32458118-21" />
    <add key="wsl_version" value="4.0" />
    <add key="wsl_4" value="E:\WSL\WSL4\wslx-dlrconn.pem" />
    <add key="bypassWSL" value="yes" />
    <add key="ErrorEmailTo" value="vabeshi@marketingassociates.com"></add>
    <add key="filepath" value="~/MyFiles" />
    <add key="batchfilepath" value="~/MyFiles/BatchUpload" />
    <add key="UploadPath" value="~/Images/ProfilePics/" />
    <add key="StoryPicPath" value="~/Images/StoryPics/" />
    <add key="emailUrl" value="https://lincolnbrandchampion.dealerconnection.com/" />
    <add key="travelUrl" value="http://lincolnbrandchampion.dealerconnection.com/Registration" />
    <!--<add key="UploadPathCron" value="\\evashare02\eandgespreskin\Stage" />-->
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- make deliveryMethod="network" -->
      <!-- make sure host is right on that environment -->
      <smtp from="LBCSupport@marketingassociates.com" deliveryMethod="Network">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\EmailPickupDirectory\FordFleetPrefered" />
        <network host="mailrelay.marketingassociates.com" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="45" />
    <!--<identity impersonate="true" userName="ma\eandgespreskin" password="e^g3spresk!n" />-->
    <!--<httpRuntime requestValidationMode="2.0" executionTimeout="72000" maxRequestLength="20480" />-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="204857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>