@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <p class="home-intro"><span>Hello</span>  <strong>@Session["User_Id"].ToString().ToUpper(),</strong> you are at the center of the Lincoln Brand Champion initiative. With your efforts, continued development and engagement in the Lincoln Brand Champion initiatives our collective goals and elevation of the customer experience can be achieved. Please take a moment to provide feedback so we can ensure that the Lincoln Brand Champion initiative is a continually exceptional experience.</p>
        <div class="row">
            <div class="twelve columns">
                <div class="panel">
                    <div class="row">
                        <div class="four columns">
                            <h5 class="text-center">SURVEYING THE EXCEPTIONAL:</h5>
                            <p class="text-center">
                                <span class="image2">
                                    <img src="~/Images/survey.png" alt="" /></span>
                            </p>
                            <h3 class="text-center">PURPOSEFUL INTENT</h3>
                            <p class="text-center">
                                <img src="~/Images/dash.png" alt="" />
                            </p>
                            <ul class="disc">
                                <li>Personalize the Lincoln Brand Champion immersion for participants whenever possible</li>
                                <li>Help participants connect with others around natural affinities</li>
                                <li>Better understand the Lincoln Brand Champion population to better tune future initiatives</li>
                            </ul>
                        </div>
                        <div class="eight columns">
                            <h3 class="text-center">YOUR OPINION COUNTS</h3>
                            <p class="text-center">
                                <img src="~/Images/dash.png" alt="" />
                            </p>
                            <div class="row">
                                <div class="twelve columns">
                                    <h3>Thank you for submitting the Lincoln Brand Champion Affinity Survey. Your valuable contribution will play a significant role in positively impacting future Lincoln Brand Champion initiatives.</h3>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


