
@{
    ViewBag.Title = "Contact";
}

  <div class="row">
    <div class="twelve columns">
      <div class="log-image"><img src="~/Images/contact.jpg" alt=""/>
      <p class="contact-message"><img src="~/Images/black-logo.png" alt="" class="image-left"/>If you have questions about Registration, Resources, Toolkit fulfillment or <strong><em>any</em></strong> portion of the <strong>Lincoln Brand Champion Dashboard Site</strong>, please send email inquiries to: <a href="mailto:phq@LincolnBC.com">phq@LincolnBC.com</a> or call <strong>800-816-6130</strong>. </p>
     </div>
	
      
      
    </div>

  </div>

