
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Lincoln Brand Champion</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="~/stylesheets/foundation.css">
  <link rel="stylesheet" href="~/stylesheets/app.css">

  <script src="~/javascripts/modernizr.foundation.js"></script>

</head>
<body id="home">

  <div class="row">
    <div id="header" class="twelve columns">
          <h1><a href="index.html" target="_parent"><img src="~/images/lincoln-brand-champion.png" alt=""/></a></h1>
       <div class="row">
    <div id="header" class="twelve columns">
      <h1><a href="index.html" target="_parent"><img src="~/images/lincoln-brand-champion.png" alt=""/></a></h1>
      <div class="login">HELLO, <span> </span><a href="#" class="log">Logout</a></div>
    </div>
  </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
    	<ul class="nav-bar">
  <li class="has-flyout nav-reg">
    <a href="#">Registration</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <div class="flyout">
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-immersion.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">Immersion Event</p>
          <p class="nav-text">Register to attend an Immersion or Summit Event as part of the Lincoln Brand Champion initiative.</p>
        </div>
      </div></a>
    </div>
  </li>
  <li class="has-flyout nav-resource">
    <a href="#">Resources</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <div class="flyout">
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-resources.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">A wealth of knowledge</p>
          <p class="nav-text">Your pathway to a wealth of valuable Lincoln content.</p>
        </div>
      </div></a>
    </div>
  </li>
  <li class="has-flyout nav-brand">
    <a href="#">Brand&nbsp;Champions</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <div class="flyout">
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-network.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">Make Connections</p>
          <p class="nav-text">Locate other Lincoln Brand Champions, view their profiles and start the conversation.</p>
        </div>
      </div></a>
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-profile.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">My Profile</p>
          <p class="nav-text">Enhance your informational story to build networking opportunities with other Lincoln Brand Champions.</p>
        </div>
      </div></a>
    </div>
  </li>
  <li class="has-flyout nav-tool"><a href="#">Toolkit</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <div class="flyout">
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-training.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">Training</p>
          <p class="nav-text">Everything you need to educate you and your team and become strong advocates of the Lincoln Brand.</p>
        </div>
      </div></a>
      <a href="#" class="sub"><div class="row">
        <div class="three columns">
          <p><img src="images/icon-rewards.png" alt=""/></p>
        </div>
        <div class="nine columns">
        	<p class="nav-title">Rewards</p>
          <p class="nav-text">Learn about the benefits to be gained and rewards to be earned for completing programs, achieving results and helping others.</p>
        </div>
      </div></a>
    </div>
  </li>
  <li class="nav-metrics"><a href="#">Metrics</a></li>
</ul>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="log-image"><img src="images/access-denied.jpg" alt=""/>
      <p class="log-message"><span>Cannot complete request!</span>  We are sorry but we could not complete the request. </p>
     </div>
	
      
      
    </div>

  </div>
  
  <div id="footer">
      <div class="row">
        <div class="twelve columns">
        <p class="right"><img src="images/lincoln-symbol.png" alt=""/></p>
  <ul class="inline-list">
  <li><a href="#">Event Registration</a></li>
  <li>|</li>
  <li><a href="#">Resources</a></li>
  <li>|</li>
  <li><a href="#">Brand Champions</a></li>
  <li>|</li>
  <li><a href="#">Toolkit</a></li>
  <li>|</li>
  <li><a href="#">FAQs</a></li>
  <li>|</li>
  <li><a href="#">Contacts</a></li>
</ul>
        </div>

      </div>
  </div>
  <div id="copy-foot">
      <div class="row">
        <div class="twelve columns">
  <ul class="inline-list right">
  <li><a href="#">Terms and Conditions</a></li>
  <li>|</li>
  <li><a href="#">Privacy Policy</a></li>
</ul>
  <p>&copy; 2015 Ford Motor Company</p>
        </div>

      </div>
  </div>
  
 
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="javascripts/jquery.foundation.magellan.js"></script>
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

  
    <script>

        $(document).ready(function () {

        });
    </script> 
  
</body>
</html>
