
@{
    ViewBag.Title = "Http404";
}
  <div class="row">
    <div class="twelve columns">
      <div class="log-image"><img src="~/Images/construction.jpg" alt=""/>
      <p class="construction-intro"><img src="~/Images/error.png" class="image-left"><span>Oops! </span>It looks like you may have taken a wrong turn! Use the navigation above or in the footer below to get back on track.</p>
    
          </div>
	
      
      
    </div>

  </div>


